.page {
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  color: #fff;
  min-height: 100vh;
  text-decoration: none;
  margin: auto;
  font-family: 'Inter', 'Roboto', 'sans-serif';
  justify-content: space-between;
  /* position: relative; */
}
