.main__calculator-form {
  grid-row: 3/5;
  grid-column: 1/5;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4 ,100px);
  grid-template-rows: repeat(2, 75px);
  row-gap: 20px;
  column-gap: 40px;
}

