.previousInventa__open-btn {
  background-image: url('../../../../images/watch-btn.svg');
  width: 45px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all .1s ease-in-out;
  padding: 0;
  align-self: center;
  cursor: pointer;
  margin-right: 35px;
}

.previousInventa__open-btn:hover {
  transform: scale(1.3);
  filter: drop-shadow(0px 0px 5px rgba(255, 220, 21, 0.8));
}

.previousInventa__open-btn:active {
  opacity: .7;
}