
.bottlesData__open-checkbox:checked ~ .bottlesData__item-data {
  max-height: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.bottlesData__open-checkbox:checked  .bottlesData__open-checkbox-overlay {
  margin-bottom: 260px;
}

.bottlesData__open-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}