.link_place_header-signup {
  background: #97A7B6;
  display: flex;
  font-size: 12px;
  line-height: 30px;
  color: #000;
  height: 30px;
  padding: 0 12px;
  border-radius: 5px;
  text-align: center; 
  justify-content: center;
  transition: all .1s linear;
}

.link_place_header-signup:hover {
  background: #4E7191;
}

.link_place_header-signup:active {
  background: #32495f;
}