.main__calculator {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(5, 75px);
  row-gap: 30px;
  column-gap: 40px;
}

/* @media screen and (max-width: 1119px){
  .main__calculator {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(5, 50px);
    row-gap: 30px;
    column-gap: 40px;
  }

} */