.previousInventa__open-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.previousInventa__open-checkbox:checked ~ .previousInventa__item-data {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  opacity: 1;
  padding: 0;
  left: 0;
  right: 0;
  top: 35px;
  bottom: 30px;
  line-height: 1;
}

.previousInventa__open-checkbox:checked ~ .previousInventa__open-checkbox-overlay {
  margin-bottom: 240px;
}
