.previousInventa__line {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
}

.previousInventa__line:after {
  /* content: '';
  border-bottom: 1px #afadad93 solid;
  margin: 30px auto;
  width: 100% */
}