.inventa__drink-item {
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  display: flex;
  padding: 15px 20px 0px;
  flex-direction: column;
}

.inventa__drink-item::after {
  content: '';
  border-bottom: 1px solid #afadad80;
  padding-bottom: 15px;
}

.inventa__drink-item:last-of-type:after {
  content: '';
  border: none;
}

.inventa__drink-item:nth-child(2n) {
  background-color: #6a6a6a60;
}