.form__input {
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px #a9a9a957 solid ;
  padding: 0 0 5px 0;
  color: #fff;
  transition: all .1s linear;
}

.form__input::placeholder {
  background-position-y: -6px;
  line-height: 13px;
  color: #817E7E;
  font-size: 12px;
  padding-bottom: 10px;
  transition: all .3s ease-out;
}

.form__input:focus::placeholder {
  opacity: 0;
}

.form__input:focus {
  border-bottom: 1px #08a30080 solid;
}